<h1>Login page is here</h1>

<form action="/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Log in!</button>
</form>