<h2>This is the signup page</h2>

<form action="/signup" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Sign up!</button>
</form>
